@import url('https://fonts.googleapis.com/css?family=Lato');

.container {
  background-color: #E6F4FC;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signUpBox {
  padding: 20px 40px;
  background-color: rgba(247, 247, 247, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px -6px 10px #D2EDFC, -6px 6px 10px #D2EDFC;
  border-radius: 16px;
  font-family: 'Lato';
  font-size:15px;
}

.anova{
  color: #155FC2;
}
.labs{
  padding-left: 4px;
}

.title{
  display:flex;
  flex-direction:row;
}

.signup-logo{
  max-width:10%;
  width: auto;
  height: auto;
  padding-bottom: 5px;
  margin:0;
}
