@import url('https://fonts.googleapis.com/css?family=Lato');

.page {
  background-color: #e9f4fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px;
  justify-content: space-evenly;
}

.ant-modal-body {
  background: #e9f4fb;
  border-radius: 20px;
}

.ant-modal-content {
  border-radius: 20px;
}

h3 {
  color: #0489c5;
}

.feedbackBoxContainer {
  width: 85%;
  border-radius: 25px;
  background-color: white;
  padding: 30px;
  margin-bottom: 3vh;
  top: 100px;
}

::placeholder {
  color: lightgray;
}

.feedbackModalSurround {
  display: flex;
  flex-direction: row;
  margin: 5vh 0vw 5vh 1vw;
}
.feedbackModalLeft {
  background: white;
  width: 65%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 60vh;
  border-radius: 28px;
}

.feedbackModalRight {
  align-self: center;
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:20px;

}

.feedbackScroll {
  position: relative;
  width: 90%;
  height: 90%;
  overflow-y:scroll;
  top: 7%;
  left: 6%;
}

.modalRightRect {
  background: white;
  width: 20vw;
  padding: 2vh 1vw 2vh 1vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
}

.modalRightRect h2 {
  color: #0489C5;
  font-size: 1.2vw;
}


.ratingContainer {
  min-width: 30%;
  border-radius: 25px;
  background-color: white;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  left: 8vw;
  top: 75px;
  justify-content: space-between;
}

.rateText {
  text-align: center;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.rate,
.rate-selected {
  background-color: #e7e7e7;
  border: none;
  padding: 13px 26px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 2.5vw;
}
.rate-selected {
  background-color: #03A9F4;
  color: white;
}

:focus {
  outline: none;
}
.feedbackButtons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#lessonTitle {
  display: flex;  
  align-self: flex-start;
  margin: 0px 0px 0px 75px;
  left: 8vw;
  color: #0489c5;
  line-height: 3em;
}

.feedbackTextarea {
  border-color: #d2edfc;
  width: 100%;
  padding: 10px 10px;
  min-height: 13vh;
  border-radius: 4px;
}

.submitButton {
  white-space: nowrap;
  color: white;
  font-weight: bold;
  background-color: #03A9F4;
  border-color: transparent;  
  border-radius: 15px;
  display: flex;
  padding: 0.75vw 3vw 0.75vw 3vw;
  margin-left: 10px;
}

.submitButton:hover {
  cursor: pointer;
}

.feedbackScroll::-webkit-scrollbar {
  width: 0.60em;
}

.feedbackScroll ::-webkit-scrollbar-button {
  max-height: 10px;
}
 
.feedbackScroll::-webkit-scrollbar-thumb {
  background-color: #E5E5E5;
  border-radius: 5px;
}


#homeButton {
  background: #039AF4; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeButton:hover {
  cursor: pointer;
}