@import url('https://fonts.googleapis.com/css?family=Lato');

.page {
  background-color: #e9f4fb;
  height: 100%;
  min-height: 100vh;
  padding: 100px 120px 150px 120px;
}

.lessonPageContainer {
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: row;
}

h1,
.lessonPageTitle {
  height: 100px;
}

.lessonPageTitle {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #2e64bc;
  margin-bottom: 0;
}

.editButton {
  background-color: inherit;
  border: none;
  margin: 10px;
  height: 12px;
  object-fit: none;
}

.editButton:hover {
  cursor: pointer;
}

.textTitle {
  font-family: Lato, sans-serif;
  color: #2e64bc;
  font-size: 30px;
}

.textBox {
  min-height: 45px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.editing {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px -4px 0px #d2edfc;
}

.buttonsContainer {
  margin-top: 30px;
  position: relative;
  float: right;
  font-size: 18px;
  font-family: Lato, sans-serif;
}

.saveButton {
  background-color: #2e64bc;
  color: #ffffff;
  border: none;
  padding: 8px 22px;
  border-radius: 5px;
}

.cancelButton {
  background-color: #ededed;
  border: none;
  padding: 8px 22px;
  border-radius: 5px;
  margin-right: 15px;
}

.saveButton:hover,
.cancelButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.editorButton {
  background: none;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  color: grey;
  padding-left: 8px;
  padding-right: 8px;
}

.editorButton:hover {
  background: #e9f4fb;
}

.DraftEditor-root {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line {
  border-top: 1px solid #ededed;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .page {
    padding: 100px 100px 150px 100px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 100px 50px 100px 50px;
  }
}
