@import url('https://fonts.googleapis.com/css?family=Lato');

.page {
  background-color: #E9F4FB;
  height: 100vh;
}

.lessonPageContainer {
  width: 85%;
  position: relative;
  left: 100px;
  top: 100px;
}

.title-container {
  display: flex;
  flex-direction: row;
}

h1, .title {
  height: 100px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #2E64BC;
  margin-bottom: 0;
}

.editButton {
  background-color: inherit;
  border: none;
  margin: 10px;
  height: 12px;
  object-fit: none;
}

.editButton:hover {
  cursor: pointer;
}

.textTitle {
  font-family: Lato, sans-serif;
  color: #2E64BC;
  font-size: 30px;
}

.textBox {
  min-height: 45px;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.editing {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 3px #E5E5E5;
}

.saveButton {
  font-family: Lato, sans-serif;
  background-color: #2E64BC;
  color: #FFFFFF;
  margin-top: 30px;
  position:relative;
  left: 85%;
  font-size: 22px;
}

.saveButton:hover {
  cursor: pointer;
}
