@import url('https://fonts.googleapis.com/css?family=Lato');

.container {
  background-color: #e6f4fc;
  margin: 0;
  padding: 100px 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerGrid {
  background-color: #e6f4fc;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: auto;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .containerGrid{
    grid-template-columns: 100%;
  }
}

.profileDescription {
  padding: 0 0 0 0;
}
.profileDescription p {
  font-size: 12px;
}
.profileBox {
  width: 700px;
  height: 450px;
  background-color: rgba(247, 247, 247, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-shadow: 6px -6px 10px #d2edfc, -6px 6px 10px #d2edfc;
  border-radius: 16px;
}

.profileBox p {
  padding-right: 20px;
}

.linktext {
  text-decoration: underline;
  padding-bottom: 5px;
  color: black;
}
.links {
  font-family: 'Lato';
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  padding-bottom: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
}

.ant-card-cover {
  display: block;
  width: 50%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.error {
  font-family: 'Lato';
  font-size: 12px;
  color: red;
  padding-bottom: 5px;
}

.anova {
  color: #155fc2;
}
.labs {
  padding-left: 4px;
}
.title {
  font-family: 'Lato';
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Lato';
  font-size: 15px;
  display: flex;
  flex-direction: row;
  color: #3b3b3b;
}

label {
  font-family: 'Lato';
  font-size: 11px;
}

.logo {
  width: 10%;
  height: 15%;
  padding-bottom: 5px;
  padding-bottom: 8px;
}

.remember {
  font-family: 'Lato';
  font-size: 10px;
}
input[type='checkbox'],
select {
  border-color: #d2edfc;
}
input[type='text'],
select {
  width: 100%;
  padding: 20px 10px;
  margin-top: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #d2edfc;
}

input {
  width: 100%;
  padding: 20px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #d2edfc;
}
input[type='email'],
select {
  width: 100%;
  padding: 20px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #d2edfc;
}

input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: #d2edfc;
}

input[type='submit'] {
  width: 100%;
  background-color: #9ed8df;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 14px;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(31, 137, 139, 0.5);
}

input[type='submit']:hover {
  opacity: 0.8;
}

.editModal {
  padding: 10px 10px;
}
/* button {
     border-style: solid;
     border-radius: 10px 10px;
} */

.editFields .ant-row {
  padding: 20 0px;
}
