.lessonsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;

  grid-column-gap: 50px;
  grid-row-gap: 50px;
  height: 80%;

  padding-bottom: 200px;
}
.plusCard {
  width: 300px;
  height: 200px;

  /*align-items: center;*/
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px -4px 0px #d2edfc;
  border-radius: 5px;
  padding: 20px 20px;
  position: relative;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lessons_title {
  padding: 20px 20px;
  position: relative;
  height: 100px;
  display: block;
  width: 100%;
  text-align: center;
}

.ant-avatar.ant-avatar-icon {
  padding-top: 20%;
}
.lessonsContainer:after {
  content: '';
  display: block;

  height: 100px;
}

.siteLessonsContainer {
  background-color: #e6f4fc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
}

.emptyDiv {
  height: 100px;
  background: #f5f7f8;
}
